* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: yellowgreen;
}

#screen {
    height: 150px;
    width: 30%;
    margin: 0 auto;
    background-color: aqua;
    margin-top: 40px;
}

#keyboard {
    height: 650px;
    width: 30%;
    margin: 0 auto;
    background-color: cadetblue;
    
}

