* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(107, 211, 168, 0.952);
}

#screen {
    height: 150px;
    width: 30%;
    margin: 0 auto;
    background-color: aqua;
    margin-top: 40px;
    padding-top: 25px;
}

#keyboard {
    height: 650px;
    width: 30%;
    margin: 0 auto;
    background-color: cadetblue;   
}

#keyboard button {
    width: 60px;
    height: 50px;
}

#screen {
    font-size: 60px;
    font-weight: 600;
}

